* {
  box-sizing: border-box;
}

body {
  min-width: 650px;
  text-align: center;
  margin: 0;
  font-family: 'Open Sans';
  background: #000;
  color: #fff;
  padding: 15px 50px;
  font-size: 16px;
  max-height: 300px;
}

h1 {
  font-weight: normal;
  font-size: 28px;
  color: #000;
  text-shadow: 1px 1px #40ff05, -1px 1px #40ff05, -1px -1px #40ff05, 1px -1px #40ff05;
  margin-top: 0;
}

.result .table {

}

.result .table .tr {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}

.result .td {
  flex: 1 1 50%;
  padding: 5px 15px;
  border: 1px solid #fff;
}

.result .dictionary {
  flex: 1 1 100%;
  display: flex;
}

.result .dictionary div {
  flex: 1 1 70%;
  padding: 5px 15px;
  background: rgba(255,255,255,.2);
  border: 1px solid #fff;
}
.result .dictionary div:first-child {
  flex: 1 1 30%;
}