* {
  box-sizing: border-box;
}

body {
  min-width: 650px;
  text-align: center;
  margin: 0;
  font-family: 'Open Sans';
  background: #000;
  color: #fff;
  padding: 15px 50px;
  font-size: 16px;
  max-height: 300px;
}
button {
  cursor: pointer;
  outline: none !important;
}

h1 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

h1 img {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 12px #40ff05;
  margin-bottom: 20px;
  border-radius: 11px;
}

.result .table {
  padding-top: 10px;
  margin-bottom: 40px;
}

.result .table .tr {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  position: relative;
}

.show-dictionary {
  position: absolute;
  left: -5px;
  transform: translateX(-100%);
  top: 13px;
  padding: 0;
  border: 10px solid transparent;
  border-top-color: #40ff05;
  background-color: transparent;
}

.delete-word {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 7px;
  transform:  translateX(100%);
  margin-right: -5px;
  color: #bf0000;
  font-size: 20px;
  border: 0;
}

.show-dictionary:hover {
  border-top-color: #fff;
}

.result {
  padding-top: 40px;
}

.tab {
  display: none;
}

.active-tab {
  display: block;
}

.result .td {
  flex: 1 1 50%;
  padding: 5px 15px;
  border: 1px solid #fff;
}

.result .dictionary {
  flex: 1 1 100%;
  display: none;
}

.result .dictionary.showed {
  display: flex;
}

.result .dictionary div {
  flex: 1 0 50%;
  padding: 5px 15px;
  background: rgba(255,255,255,.2);
  border: 1px solid #fff;
}

.result .dictionary div:first-child {
  flex: 1 0 50%;
}

.navigation {
  border-bottom: 1px solid #40ff05;
  position: relative;
}

.navigation ul {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
  display: flex;
}

.navigation li {
  flex: 1 1 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: all .3s;
}

.navigation li:hover,
.navigation li.active {
  color: #000;
  text-shadow: 1px 1px #40ff05, -1px 1px #40ff05, -1px -1px #40ff05, 1px -1px #40ff05;
}

.navigation li.active {
  cursor: default;
}

/* ------------------- AUTH --------------------- */
.auth-form {
  padding-top: 40px;
  position: relative;
}

.auth-form input:disabled,
.auth-form .btn:disabled {
  opacity: .4;
  cursor: not-allowed;
}

.auth-form form {
  max-width: 360px;
  margin: 0 auto 60px;
}

.auth-form .lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 9999999s ease-in-out 0s;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  background: #000;
  border: 1px solid #40ff05;
  border-radius: 7px;
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  padding: 0 15px;
  transition: all .3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-style: dashed;
}

.form-item {
  margin-bottom: 30px;
}

.form-item label {
  margin-bottom: 10px;
  display: block;
  text-align: left;
}

.btn {
  background: #000;
  border: 0;
  color: #40ff05;
  border-radius: 7px;
  min-width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #40ff05;
  transition: all .3s;
  margin-bottom: 30px;
}

.btn:hover {
  background: #40ff05;
  color: #000;
}

a {
  color: #40ff05;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  line-height: 22px;
  padding: 3px 15px;
  background: #40ff05;
  color: #000;
  text-align: center;
  display: none;
}

.error {
  background: #bf0000;
  color: #fff;
}

/* ------------------- SPINNER --------------------- */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #40ff05;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #40ff05 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
